@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Mvc
<div class="content">
    <p class="image-wrapper">
        An image
    </p>
    <h2>A title</h2>
    <p class="body">
       A body
    </p>
</div>
